body {
    background-color: #DCEED1;
}
.login-box {
    max-width: 400px;
    margin: 120px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}
.dashboard-card {
    transition: 0.2s;
    cursor: pointer;
    background-color: #DCEED1;
}
.dashboard-card:hover {
    transform: scale(1.05);
    background-color: #C7E1BC;
}
.header-bar {
    background-color: #AAC0AA;
    color: white;
    padding: 20px;
    text-align: center;
}
.btn-primary, .btn-custom {
    background-color: #AAC0AA;
    color: white;
    border: none;
}
.btn-primary:hover, .btn-custom:hover {
    background-color: #8FA78F;
}
.text-custom {
    color: #545C52;
}